<template>
  <!-- thankyou -->
  <section class="thankyou-wrapper">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-md-8 offset-md-2">
          <h2>
            অসংখ্য ধন্যবাদ আমাদের সংগে থাকার জন্য।
          </h2>
          <h3>
            আপনার নির্দেশিত পণ্যগুলো পৌছে দেয়ার জন্য আমাদের প্রতিনিধি খুব শিগ্রিই আপনার সাথে যোগাযোগ করবেন।
          </h3>
          <nuxt-link to="/">Back to home</nuxt-link>
        </div>
      </div>
    </div>
  </section>
  <!-- thankyou /end -->
</template>

<script>
    export default {
        name: "OrderPlaced"
    }
</script>

<style scoped>

</style>
