body {
	font-family: 'Roboto', sans-serif;
	font-size: 15px;
	font-weight: 400;
	line-height: 30px;
	color: #888888;
	background-color: #fafafa;
}
main {
	max-width: 1920px;
	margin: 0 auto;
}
/* Global style */
*{
	margin: 0;
	padding: 0;
}
ul {
	margin: 0;
	padding: 0;
	list-style: none;
}
a,p,h1,h2,h3,h4,h5,h6 {
	margin: 0;
	color: #232323;
}
a,a:hover,a:focus {
	text-decoration: none;
}
a,
a:focus,
button:hover,
button:focus,
input:focus,
textarea:focus {
	outline: 0;
	box-shadow: none;
}
a {
	transition: all 0.4s;
}
a:hover {
	color: #212121;
}
p {
	margin-bottom: 20px;
	color: #888;
}
h3 {
	font-size: 18px;
	font-weight: 600;
	margin-bottom: 25px;
}
h1 a:hover,
h2 a:hover,
h3 a:hover,
h4 a:hover {
	color: #4da6ff;
}
h1, h2, h3, h4, h5, h6, p {
	margin-bottom: 20px;
}
ul li {
	display: inline-block
}
input, textarea {
	width: 100%;
	border: 1px solid #dcd4d4;
	height: 45px;
	outline: none;
	box-shadow: none;
	background-color: transparent;
	transition: all 0.4s;
	padding-left: 15px;
	border-radius: 35px;
}
textarea {
	height: auto;
}
input:focus, textarea:focus {
	border-color: #ddd;
}
.p-lz {
	padding-left: 0;
}
@font-face {
	font-family: 'solaimanlipi';
	src: url(../fonts/SolaimanLipi.ttf);
}
.bn-font {
	font-family: 'solaimanlipi';
}
p a,
footer ul li a,
.order-cart a {
	color: #888
}
header p,
footer p {
	margin: 0;
}
.bg-color {
	background-color: #fafafa;
	position: relative;
	margin-bottom: 105px;
}
.p-15 {
	padding: 15px;
}
.m-15 {
	margin: 15px;
}
.left {
	float: left;
}
.right {
	float: right;
}
.space-between {
	justify-content: space-between;
}
/* checkbox style */
.check-box label {
	font-size: 15px;
    line-height: 20px;
    display: block;
    position: relative;
    padding-left: 30px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
		margin-bottom: 0;
}
.check-box label input {
    opacity: 0;
    cursor: pointer;
		height: auto;
		width: auto;
		position: absolute;
		left: 0;
		top: 0;
}
.check-box label span {
    position: absolute;
    top: 0;
    left: 0;
    height: 18px;
    width: 18px;
    background-color: #b3b2b2;
    transition: all 0.4s;
}
.check-box label:hover input ~ span,
.check-box label input:checked ~ span {
    background-color: #28aaa9;
}
.check-box label input:checked + .ic-single-psidebar form label {
    color: #28aaa9;
}
.check-box label span:after {
    position: absolute;
    content: "";
    display: none;
}
.check-box label input:checked ~ span:after {
    display: block;
}

.check-box label span:after {
    left: 7px;
    top: 2px;
    width: 6px;
    height: 11px;
    border: solid white;
    border-width: 0px 2px 2px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}
/* background image style */

.abd-bg {
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center center;
}
section {
	padding: 40px 0;
	background-color: #fafafa;
}
::-webkit-input-placeholder {
  color: #212121;
}
::-moz-placeholder {
  color: #212121;
}
:-ms-input-placeholder {
  color: #212121;
}
:-moz-placeholder {
  color: #212121;
}
::-moz-selection {
	background-color: #F97E1E;
	color: #fff
}
::selection {
	background-color: #F97E1E;
	color: #fff
}
