@media only screen and (max-width: 780px) {
  .container {
    max-width: 100%;
  }
  .top-head .row {
    display: block;
  }

  .top-head .col:first-child {
    max-width: 300px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
  }

  .top-head .col:nth-child(2) {
    margin: 0 auto 10px auto;
    max-width: 100%;
  }

  .order-cart {display: block;text-align: center;}

  #card-btn {
    display: inline-block;
    position: relative;
  }
  #count-cart {
    position: absolute;
    top: -12px;
    font-size: 14px;
    right: -20px;
    width: auto;
  }
  .hero-intro {
    margin-top: 245px;
  }
}
@media only screen and (max-width: 575px) {
  .btm-head h1,
  .btm-head h2 {
    letter-spacing: 0;
  }
  .hero-intro h2 {
    font-size: 22px;
  }
  .payemnt-checking-info div {
    padding-right: 0;
    display: block;
  }
  .thankyou-wrapper h2 {
    font-size: 22px;
    line-height: 28px;
  }
  .order-cart a {
    right: 10px;
  }
  .btm-head {
    margin-bottom: 0;
  }
  section {
    padding: 25px 0;
  }
  .products-wrapper, .provided-info {
    margin-bottom: 70px;
  }
  .single-payment-method {
    max-width: 90%;
  }
  .required-info h2 {
    font-size: 18px;
  }


}

@media only screen and (max-width: 480px) {
  .product-thumb-caption {
    display: block;
    text-align: center;
  }
  .product-thumb {
    margin-bottom: 15px;
  }

}
@media only screen and (max-width: 430px) {
  .order-list table td button {
    padding: 0 5px;
  }
  .order-summary div.order-list {
    padding-left: 5px;
  }
  .order-list table td,
  .order-summary table tr td,
  .order-summary-title p {
    font-size: 12px;
  }
}
