header {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 2;
  background-color: #fafafa;
  box-shadow: 0px 0px 2px 0px rgba(0, 0, 0, 0.05);
}
.top-head {
  padding: 10px 0;
  top: 0;
  left: 0;
  background-color: #ffba84;
  z-index: 4;
  box-shadow: 0px 0px 1px 0px rgba(0, 0, 0, 0.1);
}
.top-head .col:first-child {
  max-width: 40%;
}
.top-head .col:first-child p,
.top-head .col:first-child p a {
  color: #313131;
  font-size: 18px;
}
.top-head .col:nth-child(2) {
  max-width: 60%;
}
.top-head .col:nth-child(2)>div form {
  position: relative;
}
.top-head .col:nth-child(2)>div form button {
  position: absolute;
  right: 0;
  top: 0;
  height: 55px;
  border: none;
  background-color: transparent;
  color: #ffba84;
  font-size: 18px;
}
.top-head .col:nth-child(2)>div form input {
  height: 55px;
  border: 1px solid #fff;
  background-color: #fff;
  border-radius: 2px;
  padding-right: 40px;
}
.log-num {
  display: flex;
  align-items: center;
}
.site-logo {
  display: inline-block;
  margin-right: 20px;
  color: #fff;
}
.site-logo p a i {
  margin-right: 5px;
}
.site-logo span:first-child {
  background-color: #fff;
  display: inline-block;
  line-height: 18px;
  padding: 2px 6px;
  color: #313131;
}
.site-logo img {
  width: 90px;
}
.order-cart span#card-btn,
.tt-search-icon {
  padding: 5px 10px;
  font-size: 16px;
  position: relative;
  cursor: pointer;
}
.order-cart a span {
  position: absolute;
  top: -10px;
  right: -15px;
}
.btm-head h1,
.btm-head h2 {
  text-align: center;
  letter-spacing: 18px;
  margin: 0;
}
.btm-head h1 a:hover,
.btm-head h1 a:hover {
  color: #212121;
}
.btm-head a {
  display: inline-block;
}
#menu li a {
  padding: 5px 10px;
}
#menu li.active a {
  color: #F97E1E;
}
.btm-head h1,
.btm-head h2 {
  text-align: center;
  letter-spacing: 18px;
  margin: 0;
  display: inline-block;
}
.btm-head h1 a:hover,
.btm-head h1 a:hover {
  color: #212121;
}
.btm-head a {
  display: inline-block;
}
#menu li a {
  padding: 5px 10px;
}
#menu li.active a {
  color: #F97E1E;
}
.btm-head h1,
.btm-head h2 {
  text-align: center;
  letter-spacing: 18px;
  margin: 0;
  display: inline-block;
}
.hero-intro.checkout-intro {
  margin-top: 100px;;
}
.order-summary {
  position: fixed;
  top: 0;
  right: 0;
  transform: translateX(100%);
  background-color: #f8f8f8;
  z-index: 10;
  height: 100vh;
  max-width: 470px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  transition: 0.5s all;
}
.order-summary.order-show {
  transform: translateX(0);
}
.close-summary span {
  height: 30px;
  width: 30px;
  display: inline-block;
  text-align: center;
  line-height: 30px;
  font-size: 26px;
  cursor: pointer;
  margin-top: 5px;
  margin-right: 5px;
}
.order-amount {
  padding-top: 15px;
}
.order-amount tr {
  line-height: 2;
}
.cs-ost {
  position: absolute;
  top: 0;
  right: 0;
}
.order-click a {
  background-color: #212121;
  display: block;
  text-align: center;
  color: #fff;
  border: 1px solid #212121;
  font-size: 15px;
}
.order-click {
  max-width: 83%;
  margin: 0 auto;
  margin-top: 40px;
}
.order-click a:hover {
  background-color: #000;
}
.order-list table td button {
  border: 1px solid #ddd;
  padding: 5px 10px;
  margin-left: 5px;
  line-height: 1.5;
}
.order-list table td button.delete-item {
  background-color: #F97E1E;
  border-color: #F97E1E;
  color: #fff;
}
.order-list table td {
  margin-bottom: 10px;
}
.order-list ol li>span {
  max-width: 150px;
  width: 100%;
  display: inline-block;
}
.order-list ol li>span.price-col {
  max-width: 80px;
  width: 100%;
}
/* intro style */
.hero-intro {
  text-align: center;
  margin-top: 130px;
}
.hero-intro p {
  font-size: 14px;
}
.hero-intro p:last-child {
  margin-bottom: 0;
}
.products-cat {
  padding-bottom: 0;
}
.p-single-cat {
  text-align: center;
  border: 1px solid #eee;
  margin-bottom: 15px;
}
.p-single-cat a {
  display: block;
  padding: 20px 15px;
  background-color: #fff;
}
.p-single-cat a img {
  max-width: 32px;
  text-align: right;
  float: right;
}
/* footer */

/* footer */
footer {
  background-color: #eee;
  padding: 20px 0;
  position: fixed;
  bottom: 0;
  left: 0;
  height: 70px;
  width: 100%;
  z-index: -1;
}
footer p {
  display: inline-block;
}
footer ul {
  display: inline-block;
  float: right;
}
footer ul li a {
  padding: 0 10px;
}
footer ul li:last-child a {
  padding-right: 0;
}
/* product single page */
.width-half {
  max-width: 50%;
}
.qty-btn {
  width: auto;
  padding: 0;
  height: auto;
  padding: 0 7px;
  border-radius: 0;
  background-color: #f9f9f9;
  border-color: #eee;
  color: #888;
}
input.qty {
  padding: 0;
  height: auto;
  border-radius: 0;
  max-width: 50px;
  text-align: center;
  color: #888;
  border-color: #eee;
}
.order-info {
  padding: 15px;
}
.product-short-info p {
  margin-bottom: 0;
}
.qty-in-dec {
  margin-bottom: 30px;
}
.single-product {
  padding: 20px 0;
  margin-bottom: 15px;
  background-color: #fafafa;
  box-shadow: 0 35px 25px -20px rgba(0,0,0,0.02);
}
.single-product:nth-child(2n+1) {
  background-color: #fff;
}
.single-product:last-child {
  background-color: #fff;
  position: relative;
  z-index: 2;
  margin-bottom: 105px;
}
.overlay {
  transition: all 1s;
}
.overlay.add-overlay {
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: 3;
  background-color: rgba(0, 0, 0, 0.8);
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
.order-cart {
  display: inline-block;
  position: relative;
}
div#order_summary_btn {
  display: inline-block;
  float: right;
}
tr.abd-hr {
  border-top: 1px solid #333;
  line-height: 40px;
}
table#show-cart tr {
  line-height: 40px;
}
.order-summary table {
  width: 100%;
}
#card-btn {
  color: #fff;
  font-size: 18px;
  line-height: 34px;
  cursor: pointer;
}
.order-summary table tr td:nth-child(2) {
  text-align: left;
  padding-left: 10px;
}
.order-table table tr:last-child {
  line-height: 70px;
  border-bottom: none;
}
.close-summary span {
  height: 30px;
  width: 30px;
  display: inline-block;
  text-align: center;
  line-height: 30px;
  font-size: 26px;
  cursor: pointer;
  margin-top: 10px;
  margin-right: 10px;
}
.order-summary-title {
  display: inline-block;
  padding-left: 15px;
  margin-top: 10px;
}
.order-table {
  padding: 0 15px;
  max-height: 300px;
  height: 100%;
  overflow-y: auto;
}
.order-table table tr {
  border-bottom: 1px solid #ddd;
  line-height: 36px;
}
.order-summary div.order-list {
  width: 100%;
  overflow-y: auto;
  max-height: 300px;
  border-bottom: 1px solid #ddd;
  padding-left: 15px;
}
.cs-ost {
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
}
.order-click a,
.single-input button {
  background-color: #212121;
  display: block;
  text-align: center;
  color: #fff;
  border: 1px solid #212121;
  padding: 10px 30px;
}
.order-click {
  max-width: 83%;
  margin: 0 auto;
  margin-top: 40px;
}
.order-click a:hover,
.single-input button:hover {
  background-color: #000;
}
/* intro style */
.p-single-cat {
  text-align: center;
  border: 1px solid #d4d4d4;
  margin-bottom: 20px;
}
.p-single-cat a {
  display: block;
  padding: 20px 15px;
  background-color: #fff;
  font-size: 18px;
  color: #F97E1E;
}
.p-single-cat a img {
  max-width: 32px;
  text-align: right;
  float: right;
}
.p-single-cat a:hover {
  background-color: #f9f9f9;
}
/* footer */

/* product single page */
.width-half {
  max-width: 50%;
}
.qty-btn {
  width: auto;
  padding: 0;
  height: auto;
  padding: 0 7px;
  border-radius: 0;
  background-color: #f9f9f9;
  border-color: #eee;
  color: #888;
}
input.qty {
  padding: 0;
  height: auto;
  border-radius: 0;
  max-width: 50px;
  text-align: center;
  color: #888;
  border-color: #eee;
}
.order-info {
  padding: 15px;
}
.product-short-info p {
  margin-bottom: 0;
}
.qty-in-dec {
  margin-bottom: 30px;
}
.single-product {
  padding: 20px 0;
  margin-bottom: 15px;
  background-color: #fafafa;
  box-shadow: 0 35px 25px -20px rgba(0,0,0,0.02);
}
.single-product:nth-child(2n+1) {
  background-color: #fff;
}
.single-product:last-child {
  background-color: #fff;
  position: relative;
  z-index: 2;
  margin-bottom: 105px;
}
.overlay {
  transition: all 1s;
}

/* products page */
.products-wrapper,
.provided-info {
  background-color: #fafafa;
  position: relative;
  margin-bottom: 105px;
}
.product-thumb img {
  max-width: 70px;
}
.product-item {
  background-color: #fff;
  padding: 15px;
  box-shadow: 0 0px 1px rgba(0,0,0,0.1), 0 1px 0px rgba(0,0,0,0.1);
  margin-bottom: 30px;
}
.product-thumb-caption {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
}
.product-item p {
  margin: 0;
  font-size: 14px;
  line-height: 24px;
}
.product-caption {
  padding-left: 15px;
}
.product-caption h3 {
  margin-bottom: 10px;
  font-size: 15px;
}
.add-to-cart-col button {
  width: 100%;
  border: none;
  background-color: #fff;
  line-height: 50px;
  box-shadow: 0 0px 1px rgba(0,0,0,0.1), 0 1px 0px rgba(0,0,0,0.1);
  position: relative;
}
.add-to-cart-col {
  position: relative;
}
.add-to-cart-col .quantity {
  position: absolute;
  top: 0;
  left: 0;
  background-color: #ddd;
}
.add-to-cart-col .quantity span {
  padding: 0px 13px;
  font-size: 25px;
  cursor: pointer;
  background-color: #888;
  color: #fff;
  height: 100%;
}
.add-to-cart-col .quantity span:first-child {
  float: left;
}
.add-to-cart-col .quantity span:last-child {
  float: right;
}
.add-to-cart-col .quantity {
  display: none;
}
.add-to-cart-col.qty.qty-actve .quantity {
  display: block;
}
#paymentMethod {
  border: none;
}
#paymentMethod li a {
  font-size: 18px;
  text-transform: uppercase;
  font-weight: 500;
  padding: 5px 20px;margin: 5px;
  background-color: transparent;
  border: 1px solid #ddd;
}
#paymentMethod li a:hover,
#paymentMethod li a.active {
  background-color: #ddd;
}
.payment-wrapper,
.required-info {
  background-color: #fafafa;
}
.single-payment-method {
  margin-bottom: 70px;
  margin: auto;
  margin-top: 40px;
}
.single-payment-method h2 {
  font-size: 24px;
  margin-bottom: 10px;
}
.required-info {
  margin-bottom: 79px;
}
.single-input {
  margin-bottom: 20px;
}
.single-input input,
.single-input textarea {
  border-radius: 2px;
}
.single-input textarea {
  resize: none;
}
.single-input:last-child {
  margin-bottom: 0;
}
.required-info h2 {
  font-size: 26px;
}
.radio-btn-col div label {
  margin-bottom: 0;
  position: relative;
}
.radio-label > i {
  display: inline-block;
  vertical-align: middle;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  -webkit-transition: 0.2s;
  transition: 0.4s;
  box-shadow: inset 0 0 0 8px #fff;
  border: 1px solid #ddd;
  background: #ddd;
  margin-right: 20px;
  margin-top: -5px;
}
.radio-label > input {
  position: absolute;
  top: 5px;
  left: 0px;
  margin: 0;
  width: 90px;
  -webkit-appearance: none;
  height: 18px;
  border: none;
}
.radio-label > input:checked + i {
  box-shadow: inset 0 0 0 0px #fff;
  background: #ffba84;
  width: 16px;
  height: 16px;
  border: none;
}
.radio-btn-col div {
  display: inline-block;
  padding-right: 40px;
}
.radio-btn-col div:last-child {
  padding-right: 0;
}
.radio-btn-col {
  margin-bottom: 20px;
}
/* client provided info */
.clint-provided-info h3,
.provided-product-info h3 {
  margin-bottom: 5px;
}
.clint-provided-info,
.provided-product-info {
  background-color: #eee;
  padding: 30px;
  margin-bottom: 30px;
}
.clint-provided-info p {
  margin-bottom: 0;
}
.provided-product-info .total-price p>span {
  padding-left: 44px;
}
.provided-product-info {
  margin-bottom: 0;
}
.total-price p {
  margin-bottom: 0;
}
.print {
  clear: both;
  overflow: hidden;
  text-align: right;
  margin-bottom: 40px;
  text-transform: uppercase;
  font-size: 22px;
}
.thankyou-wrapper {
  text-align: center;
  text-transform: uppercase;
}
.thankyou-wrapper h2 {
  line-height: 50px;
}
.provided-info .total-price {
  padding-left: 0;
}
.total-price {
  padding-left: 12px;
  text-align: left;
  float: left;
  width: 100%;
}
#count-cart {
  position: absolute;
  top: -15px;
  font-size: 14px;
  right: -10px;
}
.add-to-cart-col button.added2cart {
  background-color: #F97E1E;
  color: #fff;
}

#clear-cart.show {
  display: block;
}
#clear-cart {
  border: 1px solid #ddd;
  padding: 7px 15px;
  position: absolute;
  top: 90px;
  right: 0;
  width: 100%;
}
.floating-txt {
  position: absolute;
  width: 100%;
  left: 0;
  top: 0;
  text-align: center;
  background-color: #ddd;
  opacity: 0;
}
/* search modal */

/* search form modal custom style */
.tt-modal .modal-content {
  background-color: transparent;
  border: none;
}
.tt-modal .modal-body {
  padding: 0;
}
.tt-modal input {
  background-color: #fff;
}
.tt-modal .modal-dialog {
  max-width: 700px;
}
.tt-modal input[type="text"] {
  max-width: 80%;
  float: left;
  color: #313131;
}
.tt-modal input[type="submit"] {
  max-width: 19%;
  width: 100%;
  padding: 0;
  color: #313131;
  font-weight: 600;
  float: right;
}
.modal-backdrop.show {
  opacity: .8;
}
.checkout-intro {
  text-align: left;
}
.checkout-intro #show-cart,
.single-payment-method ol {
  padding-left: 30px;
}
.checkout-intro .total-price {
  padding-bottom: 40px;
  padding-left: 0;
}
.checkout-intro .order-amount table,
.checkout-intro .order-list table {
  max-width: 400px;
  width: 100%;
}
.checkout-intro .order-list table {
  border-bottom: 1px solid #000;
}
.checkout-intro .order-amount table tr td:nth-child(2) {
  padding-right: 190px;
}
.loading {
  width: 100%;
  text-align: center;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background-color: #ffba84;
  height: 100%;
}
.loading>div {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
/* preloader style */
.abd-loader {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background-color: #F97E1E;
  z-index: 99999;
}
.abd-loader .lds-ripple {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
.abd-loader .lds-ripple div {
  position: absolute;
  border: 4px solid #fff;
  opacity: 1;
  border-radius: 50%;
  animation: lds-ripple 1s cubic-bezier(0, 0.2, 0.8, 1) infinite;
}
.abd-loader .lds-ripple div:nth-child(2) {
  animation-delay: -0.5s;
}
@keyframes lds-ripple {
  0% {
    top: 36px;
    left: 36px;
    width: 0;
    height: 0;
    opacity: 1;
  }
  100% {
    top: 0px;
    left: 0px;
    width: 72px;
    height: 72px;
    opacity: 0;
  }
}
.abd-loaderlogo {
  max-width: 150px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
.abd-loaderlogo img {
  max-width: 100%;
}
.item-placeholder {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  text-align: center;
  padding: 0 15px;
}
.item-placeholder h2 {
  color: #ddd;
  font-size: 48px;
  line-height: 65px;
}

.is_required{
  border: 2px solid red;
}
