<template>
  <!-- client required info -->
  <section class="required-info">
    <div class="container">
      <div class="row">
        <div class="col-md-8">
          <h2>পণ্য প্রেরণের জন্য আপনার প্রয়োজনীয় তথ্য সরবরাহ করুন</h2>
          <form action="thankyou.html">
            <div class="radio-btn-col">
              <div>
                <label class="radio-label" for="cashOnDelivery"> <input type="radio" name="payment" id="cashOnDelivery">
                  <i></i>Cash on delivery</label>
              </div>
              <div>
                <label class="radio-label" for="bkash"> <input type="radio" name="payment" id="bkash" checked>
                  <i></i>bKash</label>
              </div>
              <div>
                <label class="radio-label" for="rocket"> <input type="radio" name="payment" id="rocket">
                  <i></i>Rocket</label>
              </div>
            </div>
            <div class="single-input">
              <input type="text" placeholder="আপনার পূর্ণ নাম">
            </div>
            <div class="single-input">
              <input type="text" placeholder="আপনার ফোন নম্বর">
            </div>
            <div class="single-input">
              <textarea cols="30" rows="5" placeholder="পণ্য প্রেরণের জন্য ঠিকানা"></textarea>
            </div>
            <div class="area-selection">
              <h3>আপনার এলাকার নামটি চহ্নিত করুন</h3>
              <div class="radio-btn-col">
                <div>
                  <label class="radio-label" for="id01"> <input type="radio" name="area" id="id01" checked>
                    <i></i>চকবাজার</label>
                </div>
                <div>
                  <label class="radio-label" for="id02"> <input type="radio" name="area" id="id02">
                    <i></i>চকবাজার ডিসি রোড</label>
                </div>
                <div>
                  <label class="radio-label" for="id03"> <input type="radio" name="area" id="id03">
                    <i></i>আন্দরকিল্লা</label>
                </div>
                <div>
                  <label class="radio-label" for="id04"> <input type="radio" name="area" id="id04">
                    <i></i>জামাল খান</label>
                </div>
                <div>
                  <label class="radio-label" for="id05"> <input type="radio" name="area" id="id05">
                    <i></i>গণি বেকারী</label>
                </div>
                <div>
                  <label class="radio-label" for="id06"> <input type="radio" name="area" id="id06">
                    <i></i>চট্টগ্রাম মেডিকেল আবাসিক</label>
                </div>
              </div>
            </div>
            <div class="single-input">
              <button type="submit">Submit</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </section>
  <!-- client required info /end -->
</template>

<script>
    export default {
        name: "DeliveryAddress"
    }
</script>

<style scoped>

</style>
