<template>
  <!-- hero intro -->
  <section class="hero-intro">
    <div class="container">
      <div class="row">
        <div class="col-md-10 offset-md-1">
          <h2>নিত্য দিনের সকল পণ্য এখন আপনার দৌড় গোড়ায়</h2>
          <p>আপনার সকল পণ্য নিচের ক্যাটাগরি আকারে প্রদর্শিত হচ্ছে। প্রয়োজনীয় পণ্য কাটাগরিতে ক্লিক করে অর্ডার করে দিন। অর্ডারকৃত পণ্য আমরা আপনার বাসায় পৌছে দিব। পণ্য হাতে পাওয়ার পর আপনি মূল্য পরিশোধ করতে পারেন অথবা বিকাশ বা রকেট এর মাধ্যমে মূল্য পরিশোধ করতে পারেন।</p>
        </div>
      </div>
    </div>
  </section>
  <!-- hero intro/end -->
</template>

<script>
    export default {
        name: "Introduction"
    }
</script>

<style scoped>

</style>
