<template>
  <div class="order-summary">
    <div class="cs-ost">
      <div class="close-summary"  id="order_summary_btn">
        <span><i class="far fa-times-circle"></i></span>
      </div>
      <div class="order-summary-title">
        <p>আপনার বাছাইকৃত পণ্যের চুড়ান্ত তথ্য</p>
      </div>
    </div>
    <div class="order-list" v-if="checkout_list.length>0">
      <table id="show-cart">
        <tr v-for="(checkout_item, index) in checkout_list" :key="index">
          <td>{{ index+1 }}) </td>
          <td> {{ checkout_item.product.producttitle }} ({{ checkout_item.quantity }}x{{ checkout_item.product.regular_price }})</td>
          <td>= {{ checkout_item.quantity*checkout_item.product.regular_price }}</td>
          <td>
            <button class="subtract-item" @click.prevent="reduceQuantity(index, checkout_item.quantity)">-</button>
            <button class="plus-item" @click.prevent="addQuantity(index)">+</button>
            <button class="delete-item" @click.prevent="removeItem(index)">X</button>
          </td>
        </tr>
      </table>
    </div>
    <div class="order-amount" v-if="checkout_list.length>0">
      <table>
        <tbody>
          <tr>
            <td></td>
            <td>মোট পণ্যের দাম</td>
            <td> = {{ total_price }} <span>৳</span></td>
          </tr>
          <tr>
            <td></td>
            <td>সার্ভিস চার্জ </td>
            <td> = {{ order_service_charge }} <span>৳</span></td>
          </tr>
          <tr class="abd-hr">
            <td></td>
            <td>নেট বিল </td>
            <td> = {{ total_price+ order_service_charge }} <span>৳</span></td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="item-placeholder" v-if="checkout_list.length<=0">
      <h2>কোন প্রোডাক্ট আইটেম যুক্ত করা হইনি...</h2>
    </div>
    <div class="order-click" v-if="checkout_list.length>0">
      <nuxt-link to="/checkout">পণ্যগুলো পেতে এইখানে ক্লিক করুন</nuxt-link>
    </div>
  </div>
</template>

<script>
    import { mapGetters } from 'vuex'
    export default {
        name: "OrderSummery",
        computed: {
          ...mapGetters([
            'checkout_list',
            'order_service_charge',
          ]),
          total_price(){
            let total_price = 0;
            this.checkout_list.forEach(function (item, index) {
              total_price+=item.quantity*item.product.regular_price;
            });
            return total_price;
          }
        },
        methods:{
          addQuantity(item){
            console.log(item);
            this.$store.commit('add_item_quantity', item);
          },
          reduceQuantity(item, quantity){
            if (quantity>1){
              this.$store.commit('reduce_item_quantity', item);
            }
          },
          removeItem(item){
            console.log(item);
            this.$store.commit('remove_form_card', item);
          }
        }
    }
</script>

<style scoped>

</style>
