<template>
  <!-- payment method -->
  <section class="payment-wrapper">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <ul class="nav nav-tabs" id="paymentMethod" role="tablist">
            <li>
              <a class="active" id="bkash-tab" data-toggle="tab" href="#bkash" role="tab" aria-controls="bkash" aria-selected="true">Bakash</a>
            </li>
            <li>
              <a id="rocket-tab" data-toggle="tab" href="#rocket" role="tab" aria-controls="rocket" aria-selected="false">Rocket</a>
            </li>
          </ul>
          <div class="tab-content" id="paymentMethodContent">
            <div class="tab-pane fade show active" id="bkash" role="tabpanel" aria-labelledby="bkash-tab">
              <div class="single-payment-method">
                <h2>Bkash Number: 01812938298</h2>
                <ol>
                  <li>Go to your bKash Mobile Menu by dialing *247#</li>
                  <li>Choose "Payment"</li>
                  <li>Enter the Marchant bKash Account Number 01812938298</li>
                  <li>Enter the amoiunt (example: 1200.00)</li>
                  <li>Enter a reference <strong>khucrabazar</strong></li>
                  <li>Enter the Counter Number 1</li>
                  <li>Now enter your bKash Mobile Menu PIN to confirm</li>
                  <li>Done! YOu will receive a confirmation message from bKash</li>
                  <li>Put the Transaction ID in the upper box and press "Verify"</li>
                </ol>
                <div><img src="assets/img/bkash.png" alt="bKash"></div>
              </div>
            </div>
            <div class="tab-pane fade" id="rocket" role="tabpanel" aria-labelledby="rocket-tab">
              <div class="single-payment-method">
                <h2>Rocket Number: 01812938298</h2>
                <ul>
                  <li>Rule update later</li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- payment and thank /end -->
</template>

<script>
    export default {
        name: "PaymentInformation"
    }
</script>

<style scoped>

</style>
