<template>
  <!-- pro loader -->
  <div class="abd-loader" id="abd-loader">
    <div id="status">
      <div class="abd-loaderlogo">
        <img src="/assets/img/logo2.png">
      </div>
      <div class="lds-ripple">
        <div></div>
        <div></div>
      </div>
    </div>
  </div>
  <!-- header -->
</template>

<script>
    export default {
        name: "PreLoader",
    }
</script>

<style scoped>

</style>
