<template>
  <div class="btm-head">
    <div class="container">
      <div class="row">
        <div class="col-md-12 text-right">
          <ul id="menu">
            <li v-for="(product_category, index) in product_categories" :key="index" :class="{ 'active': (selected_category === product_category.catslug) }">
              <nuxt-link :to="`/`+product_category.catslug">{{ product_category.catname}}</nuxt-link>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
    import { mapGetters } from 'vuex'
    export default {
        name: "ProductCategories",
        computed: {
          ...mapGetters([
            'product_categories',
            'selected_category',
          ])
        },
    }
</script>

<style scoped>

</style>
