<template>
  <!-- products -->
  <section class="products-wrapper">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-lg-4 col-md-6">
          <div class="product-item">
            <div class="product-thumb-caption">
              <div class="product-thumb">
                <img src="assets/img/products/wasabi.png" alt="product-title">
              </div>
              <div class="product-caption">
                <h3> চিনি </h3>
                <p>ব্রান্ডের নামেঃ বনফুল</p>
                <p>মেয়াদঃ ২০/১২/২০১৯</p>
                <p>মূল্যঃ ১৯০ ৳</p>
              </div>
            </div>
            <div class="add-to-cart-col">
              <button class="add2cart-btn add-to-cart" data-name="চিনি" data-price="50">প্রোডাকটি পেতে ক্লিক করুন</button>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-md-6">
          <div class="product-item">
            <div class="product-thumb-caption">
              <div class="product-thumb">
                <img src="assets/img/products/wasabi.png" alt="product-title">
              </div>
              <div class="product-caption">
                <h3> বিস্কুট </h3>
                <p>ব্রান্ডের নামেঃ বনফুল</p>
                <p>মেয়াদঃ ২০/১২/২০১৯</p>
                <p>মূল্যঃ ১৯০ ৳</p>
              </div>
            </div>
            <div class="add-to-cart-col">
              <button class="add2cart-btn add-to-cart" data-name="বিস্কুট" data-price="80">
                <span class="existing-txt">প্রোডাকটি পেতে ক্লিক করুন</span>
                <span class="floating-txt">প্রোডাকটি কার্ডে যুক্ত হয়েছে'</span>
              </button>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-md-6">
          <div class="product-item">
            <div class="product-thumb-caption">
              <div class="product-thumb">
                <img src="assets/img/products/wasabi.png" alt="product-title">
              </div>
              <div class="product-caption">
                <h3> মির্জাপুর চা-পাতা </h3>
                <p>ব্রান্ডের নামেঃ বনফুল</p>
                <p>মেয়াদঃ ২০/১২/২০১৯</p>
                <p>মূল্যঃ ১৯০ ৳</p>
              </div>
            </div>
            <div class="add-to-cart-col">
              <button class="add2cart-btn add-to-cart" data-name="চা-পাতা" data-price="1980">প্রোডাকটি পেতে ক্লিক করুন</button>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-md-6">
          <div class="product-item">
            <div class="product-thumb-caption">
              <div class="product-thumb">
                <img src="assets/img/products/wasabi.png" alt="product-title">
              </div>
              <div class="product-caption">
                <h3> চাল </h3>
                <p>ব্রান্ডের নামেঃ বনফুল</p>
                <p>মেয়াদঃ ২০/১২/২০১৯</p>
                <p>মূল্যঃ ১৯০ ৳</p>
              </div>
            </div>
            <div class="add-to-cart-col">
              <button class="add2cart-btn add-to-cart" data-name="চাল" data-price="2700">প্রোডাকটি পেতে ক্লিক করুন</button>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-md-6">
          <div class="product-item">
            <div class="product-thumb-caption">
              <div class="product-thumb">
                <img src="assets/img/products/wasabi.png" alt="product-title">
              </div>
              <div class="product-caption">
                <h3> ডাল </h3>
                <p>ব্রান্ডের নামেঃ বনফুল</p>
                <p>মেয়াদঃ ২০/১২/২০১৯</p>
                <p>মূল্যঃ ১৯০ ৳</p>
              </div>
            </div>
            <div class="add-to-cart-col">
              <button class="add2cart-btn add-to-cart" data-name="ডাল" data-price="49">প্রোডাকটি পেতে ক্লিক করুন</button>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-md-6">
          <div class="product-item">
            <div class="product-thumb-caption">
              <div class="product-thumb">
                <img src="assets/img/products/wasabi.png" alt="product-title">
              </div>
              <div class="product-caption">
                <h3> মুড়ি </h3>
                <p>ব্রান্ডের নামেঃ বনফুল</p>
                <p>মেয়াদঃ ২০/১২/২০১৯</p>
                <p>মূল্যঃ ১৯০ ৳</p>
              </div>
            </div>
            <div class="add-to-cart-col">
              <button class="add2cart-btn add-to-cart" data-name="মুড়ি" data-price="88">প্রোডাকটি পেতে ক্লিক করুন</button>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-md-6">
          <div class="product-item">
            <div class="product-thumb-caption">
              <div class="product-thumb">
                <img src="assets/img/products/wasabi.png" alt="product-title">
              </div>
              <div class="product-caption">
                <h3> সাবান </h3>
                <p>ব্রান্ডের নামেঃ বনফুল</p>
                <p>মেয়াদঃ ২০/১২/২০১৯</p>
                <p>মূল্যঃ ১৯০ ৳</p>
              </div>
            </div>
            <div class="add-to-cart-col">
              <button class="add2cart-btn add-to-cart" data-name="সাবান" data-price="65">প্রোডাকটি পেতে ক্লিক করুন</button>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-md-6">
          <div class="product-item">
            <div class="product-thumb-caption">
              <div class="product-thumb">
                <img src="assets/img/products/wasabi.png" alt="product-title">
              </div>
              <div class="product-caption">
                <h3> সাবান </h3>
                <p>ব্রান্ডের নামেঃ বনফুল</p>
                <p>মেয়াদঃ ২০/১২/২০১৯</p>
                <p>মূল্যঃ ১৯০ ৳</p>
              </div>
            </div>
            <div class="add-to-cart-col">
              <button class="add2cart-btn add-to-cart" data-name="সাবান" data-price="90">প্রোডাকটি পেতে ক্লিক করুন</button>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-md-6">
          <div class="product-item">
            <div class="product-thumb-caption">
              <div class="product-thumb">
                <img src="assets/img/products/wasabi.png" alt="product-title">
              </div>
              <div class="product-caption">
                <h3>নারিকেল তৈল </h3>
                <p>ব্রান্ডের নামেঃ বনফুল</p>
                <p>মেয়াদঃ ২০/১২/২০১৯</p>
                <p>মূল্যঃ ১৯০ ৳</p>
              </div>
            </div>
            <div class="add-to-cart-col">
              <button class="add2cart-btn add-to-cart" data-name="নারিকেল তৈল" data-price="199">প্রোডাকটি পেতে ক্লিক করুন</button>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-md-6">
          <div class="product-item">
            <div class="product-thumb-caption">
              <div class="product-thumb">
                <img src="assets/img/products/wasabi.png" alt="product-title">
              </div>
              <div class="product-caption">
                <h3>সরিষার তৈল </h3>
                <p>ব্রান্ডের নামেঃ বনফুল</p>
                <p>মেয়াদঃ ২০/১২/২০১৯</p>
                <p>মূল্যঃ ১৯০ ৳</p>
              </div>
            </div>
            <div class="add-to-cart-col">
              <button class="add2cart-btn add-to-cart" data-name="সরিষার তৈল" data-price="250">প্রোডাকটি পেতে ক্লিক করুন</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- products /end -->
</template>

<script>
    export default {
        name: "Products"
    }
</script>

<style scoped>

</style>
