<template>
  <!-- products category -->
  <section class="products-cat bg-color">
    <div class="container">
      <div class="row bn-font justify-content-center">
        <div class="col-lg-3 col-md-4 col-sm-6" v-for="(product_subcategory,index) in product_subcategories" :key="index">
          <div class="p-single-cat">
            <nuxt-link :to="`/`+selected_category +'/'+ product_subcategory.subcatslug"><img :src="product_subcategory.subcatthumb" :alt="product_subcategory.subcatname">{{ product_subcategory.subcatname }}</nuxt-link>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- products category /end -->
</template>

<script>
    import { mapGetters } from 'vuex'
    import { get_subcategories } from '~/api/urls'
    export default {
        name: "ProductSubcategories",
        computed: {
          ...mapGetters([
            'product_subcategories',
            'selected_category',
          ])
        },
    }
</script>

<style scoped>

</style>
