<template>
  <span>
    <product-categories></product-categories>
    <introduction></introduction>
    <!-- products -->
    <section class="products-wrapper">
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-md-8 offset-md-2" v-if="all_products.length<=0">
            <h2>
              আমরা দুঃখিত! <br> আপনার প্রয়োজনীয় পণ্যটি আমাদের কাছে নেই।
            </h2>
            <nuxt-link to="/">Back to home</nuxt-link>
          </div>
          <div class="col-lg-4 col-md-6" v-else v-for="(product, index) in all_products" :key="index">
            <div class="product-item">
              <div class="product-thumb-caption">
                <div class="product-thumb">
                  <img :src="product.productthumb" :alt="product.producttitle">
                </div>
                <div class="product-caption">
                  <h3> {{ product.producttitle }} </h3>
                  <p v-for="(product_information, index) in product.informations" :key="index">{{ product_information.label +' : ' }} {{ product_information.value }}</p>
                </div>
              </div>
              <div class="add-to-cart-col">
                <button class="add2cart-btn add-to-cart added2cart" v-if="checkout_product_list.includes(product.productid)">প্রোডাকটি কার্ডে যুক্ত হয়েছে</button>
                <button class="add2cart-btn add-to-cart" @click.prevent="addToCard(product)" v-else>প্রোডাকটি পেতে ক্লিক করুন</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- products /end -->
  </span>
</template>

<script>
    import { mapGetters } from 'vuex'
    import Introduction from "../../components/Introduction";
    import ProductCategories from "../../components/ProductCategories";
    import { get_search_products } from '~/api/urls'
    export default {
        name: "Search",
        components: {Introduction, ProductCategories},
        data(){
          return{
            "all_products":[]
          }
        },
        computed: {
          ...mapGetters([
            'checkout_product_list',
          ])
        },
        methods:{
          addToCard(product){
            this.$store.commit('add_to_card', {
              quantity:1,
              product:product
            });
          }
        },
        mounted() {
          if (this.$route.params.search !== ''){
            this.$store.commit('update_data_loading_state', true);
            let self = this;
            this.$axios.$get(get_search_products+this.$route.params.search)
              .then((res) => {
                self.all_products=res;
                this.$store.commit('update_data_loading_state', false);
              });
          }
      }
    }
</script>

<style scoped>

</style>
