<template>
  <span>
    <!-- hero intro -->
    <section class="hero-intro checkout-intro">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <h2>অর্ডার সামারি</h2>
            <div class="order-list">
              <table id="show-cart">
                <tr v-for="(checkout_item, index) in checkout_list" :key="index">
                  <td>{{ index+1 }}) </td>
                  <td> {{ checkout_item.product.producttitle }} ({{ checkout_item.quantity }}x{{ checkout_item.product.regular_price }})</td>
                  <td>= {{ checkout_item.quantity*checkout_item.product.regular_price }}</td>
                </tr>
              </table>
            </div>
            <div class="order-amount">
              <table>
                <tbody>
                  <tr>
                    <td></td>
                    <td>মোট পণ্যের দাম</td>
                    <td> = {{ total_price }} <span>৳</span></td>
                  </tr>
                  <tr>
                    <td></td>
                    <td>সার্ভিস চার্জ </td>
                    <td> = {{ order_service_charge }} <span>৳</span></td>
                  </tr>
                  <tr class="abd-hr">
                    <td></td>
                    <td>নেট বিল </td>
                    <td> = {{ total_price+order_service_charge }} <span>৳</span></td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- hero intro/end -->

    <!-- client required info -->
    <section class="required-info">
      <div class="container">
        <div class="row">
          <div class="col-md-8">
            <h2>পণ্য প্রেরণের জন্য আপনার প্রয়োজনীয় তথ্য সরবরাহ করুন</h2>
            <form action="thankyou.html">
              <div class="radio-btn-col">
                <div>
                  <label class="radio-label" for="cashOnDelivery"> <input type="radio" name="payment" id="cashOnDelivery" checked>
                  <i></i>Cash on delivery</label>
                </div>
              </div>
              <div class="single-input">
                <input type="text" :class="{ 'is_required' : !name_validation }" v-model="customer_details.name" placeholder="আপনার পূর্ণ নাম" @blur="NameValidation">
              </div>
              <div class="single-input">
                <input type="text" :class="{ 'is_required' : !phone_no_validation }" v-model="customer_details.phone_no" placeholder="আপনার ফোন নম্বর" @blur="PhoneNoValidation">
              </div>
              <div class="single-input">
                <textarea cols="30" :class="{ 'is_required' : !address_validation }" rows="5" v-model="customer_details.address" placeholder="পণ্য প্রেরণের জন্য ঠিকানা" @blur="AddressValidation"></textarea>
              </div>
              <div class="area-selection">
                <h3>আপনার এলাকার নামটি চহ্নিত করুন</h3>
                <div class="radio-btn-col">
                  <div v-for="(coverage_area, index) in coverage_areas" :key="index">
                    <label class="radio-label" :for="`id`+index"> <input type="radio" name="area" :value="coverage_area" v-model="selected_area" :id="`id`+index">
                    <i></i>{{ coverage_area.areaname }}</label>
                  </div>
                </div>
              </div>
              <div class="single-input">
                <button type="submit" @click.prevent="placeOrder()">Submit</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </section>
    <!-- client required info /end -->
  </span>
</template>

<script>
    import { mapGetters } from 'vuex'
    import { get_coverage_areas, place_order } from '~/api/urls'
    export default {
        name: "checkout",
        computed: {
          ...mapGetters([
            'checkout_list',
            'order_service_charge',
          ]),
          total_price(){
            let total_price = 0;
            this.checkout_list.forEach(function (item, index) {
              total_price+=item.quantity*item.product.regular_price;
            });
            return total_price;
          }
        },
        data(){
          return{
            name_validation:true,
            phone_no_validation:true,
            address_validation:true,
            payment_method: 'cash on delivery',
            coverage_areas:{},
            selected_area:{},
            customer_details: {
              name : '',
              phone_no: '',
              address: ''
            }
          }
        },
        mounted() {
          let self = this;
          $('.order-summary').removeClass('order-show');
          $('.overlay').removeClass('add-overlay');

          this.$axios.$get(get_coverage_areas)
            .then((res) => {
              self.coverage_areas=res;
              if (res.length>0){
                this.selected_area=res[0];
              }
            });
        },
        methods:{
          NameValidation(){
            if (this.customer_details.name === '' || this.customer_details.name === null ){
              this.name_validation=false;
            }
            else {
              this.name_validation=true;
            }
          },
          PhoneNoValidation(){
            let phone_no_rule = /^([+|\d])+([\s|\d])+([\d])$/;
            if (this.customer_details.phone_no === '' || this.customer_details.phone_no === null || !phone_no_rule.test(this.customer_details.phone_no) ){
              this.phone_no_validation=false;
            }
            else {
              this.phone_no_validation=true;
            }
          },
          AddressValidation(){
            if (this.customer_details.address === '' || this.customer_details.address === null ){
              this.address_validation=false;
            }
            else {
              this.address_validation=true;
            }
          },
          checkValidation(){
            this.NameValidation();
            this.PhoneNoValidation();
            this.AddressValidation();
          },

          placeOrder(){
            let self = this;
            this.checkValidation();
            if (this.name_validation && this.phone_no_validation && this.address_validation){
              let $payload = {
                "order_details": this.checkout_list,
                "total_price": this.total_price,
                "service_charge": this.order_service_charge,
                "net_price": this.total_price+this.order_service_charge,
                "payment_method": this.payment_method,
                "customer_details": this.customer_details,
                "delivery_area": this.selected_area
              };
              this.$axios.$post(place_order, $payload)
                .then((res) => {
                  if (res.status==='success'){
                    self.$store.commit('update_checkout_list',[]);
                    self.$store.commit('update_checkout_products',[]);
                    this.$router.push({
                      path: '/order-placed'
                    })
                  }
                  else {
                    alert('Something Went Wrong. Please try again letter');
                  }
                });
            }
          }
        }
    }
</script>

<style scoped>

</style>
