<template>
  <div>
    <pre-loader v-if="data_loading_sate"></pre-loader>
    <!-- header -->
    <div class="overlay"></div>
    <order-summery></order-summery>
    <header>
      <div class="top-head">
        <div class="container">
          <div class="row align-items-center">
            <div class="col bn-font log-num">
              <nuxt-link to="/" class="site-logo"><img src="/assets/img/logo2.png" alt="Logo"></nuxt-link>
<!--              <a href="index.html" class="site-logo">-->
<!--                &lt;!&ndash; <span>KB</span> <span>Khucra</span> Bazar &ndash;&gt;-->
<!--                <img src="/assets/img/logo2.png" alt="Logo">-->
<!--              </a>-->
              <p><a href="tel:01812938298"><i class="fas fa-phone-volume"></i> ০১৮১২৯৩৮২৯৮</a></p>
            </div>
            <div class="col text-right">
              <div class="coltt-search">
                <form>
                  <input type="text" placeholder="পণ্য খোঁজ করতে চাইলে (যেমন: চাল, আটা, ময়দা)" v-model="search_data"><button type="submit" class="tt-search-icon" @click.stop.prevent="search()"><i class="fas fa-search"></i></button>
                </form>
              </div>
            </div>
            <div class="order-cart">
              <a id="card-btn">
                <i class="fas fa-cart-plus"></i>
                <span class="total-price" id="count-cart">{{ checkout_list.length }}</span>
              </a>
            </div>
          </div>
        </div>
      </div>
      <product-categories></product-categories>
    </header>

    <!-- header /end -->

    <nuxt />

    <!-- footer -->
    <footer>
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <p>&copy; khucrabazar 2019</p>
            <ul class="text-right">
              <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
              <li><a href="#"><i class="fab fa-youtube"></i></a></li>
            </ul>
          </div>

        </div>
      </div>
    </footer>
    <!-- footer /end -->

  </div>
</template>
<script>
  import OrderSummery from "../components/OrderSummery";
  import ProductCategories from "../components/ProductCategories";
  import PreLoader from "../components/PreLoader";
  import { get_categories } from '~/api/urls'
  import { mapGetters } from 'vuex'
  export default {
    name: "Default",
    head () {
      return {
        title: 'Khuschara Bazar',
      }
    },
    data(){
      return{
        'search_data':'',
      }
    },
    components: {OrderSummery, ProductCategories, PreLoader},
    computed: {
      ...mapGetters([
        'checkout_list',
        'product_subcategories',
        'selected_category',
        "data_loading_sate"
      ])
    },
    methods: {
      search(){
        //if you want to send any data into server before redirection then you can do it here
        this.$router.push("/search/"+ this.search_data);
      }
    },
    mounted() {
      let self = this;
      this.$axios.$get(get_categories)
        .then((res) => {
          this.$store.commit('update_product_categories', res);
        });
    }
  }
</script>
<style>

</style>
