<template>
  <span>
    <product-categories></product-categories>
    <introduction></introduction>
    <product-subcategories></product-subcategories>
  </span>

</template>

<script>
import Logo from '~/components/Logo.vue'
import ProductCategories from "../components/ProductCategories";
import Introduction from "../components/Introduction";
import ProductSubcategories from "../components/ProductSubcategories";
import { get_categories } from '~/api/urls'

export default {
  components: {ProductSubcategories, Introduction, ProductCategories, Logo},
  mounted() {
    this.$store.commit('update_data_loading_state', true);
    let self = this;
    this.$axios.$get(get_categories)
      .then((res) => {
        if (res.length>0){
            this.$store.commit('update_selected_category', res[0].catslug);
            this.$axios.$get(get_categories+'/'+res[0].catid+'/subcategories')
              .then((val) => {
                this.$store.commit('update_product_subcategories', val);
                this.$store.commit('update_data_loading_state', false);
            });
        }
      });
  }
}
</script>

<style>

</style>
