<template>
    <span>
      <introduction></introduction>
      <product-subcategories></product-subcategories>
    </span>
</template>

<script>
    import ProductSubcategories from "../../components/ProductSubcategories";
    import ProductCategories from "../../components/ProductCategories";
    import Introduction from "../../components/Introduction";
    import { get_categories } from '~/api/urls'
    export default {
        name: "category",
        components: {Introduction, ProductCategories, ProductSubcategories},
        mounted() {
          this.$store.commit('update_data_loading_state', true);
          let self = this;
          this.$axios.$get(get_categories+'/'+this.$route.params.category+'/subcategories')
            .then((res) => {
              self.$store.commit('update_product_subcategories', res);
              self.$store.commit('update_selected_category', self.$route.params.category);
              this.$store.commit('update_data_loading_state', false);
          });
        }
    }
</script>

<style scoped>

</style>
